<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Register...</h1>
<form method="post" action="/user_register">
    <table border="" align="center">
        <tr><td>Name</td><td><input type="text" name="name"></td></tr>
        <tr><td>place</td><td><input type="text" name="place"></td></tr>
        <tr><td>phone</td><td><input type="text" name="phone"></td></tr>
        <tr><td>email</td><td><input type="text" name="email"></td></tr>
        <tr><td>username</td><td><input type="text" name="user"> </td></tr>
        <tr><td>password</td><td><input type="text" name="pswd"> </td></tr>
        <tr><td></td><td><input type="submit" name="submit" value="submit">
            <a href="/">login</a></td>
    </table>
</form>
</body>
</html>